
@custom-variant dark (&:is(.dark *));


/* tailwind styles extension or global CSS file */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html, body, #root  {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, strong, em, small, label, div, ul, a {
    margin: 0;
    padding: 0;
    color: #3447AA;
}

strong {
    color: #3447AA;
}

button {
    border: none;
    outline: none;
}

button:hover,
button:focus {
    outline: none;
    box-shadow: none;
}
li {
    list-style-type: none;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.choice-teams-box {
    display: flex;
    justify-content: center;
    gap: 1em;
    color: #222226;
}

.stats-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* headers */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 12px;
    background-color: #3447AA;
    color: #f9dddb;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.left,
.center,
.right {
    flex: 1;
    display: flex;
    align-items: center;
}

.center {
    justify-content: center;
    text-align: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.header-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    color: #f9dddb;
}

.calendar-position input[type="date"] {
    background-color: #f9dddb;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #3447AA;
}

/* body */

.body {
    width: 100%;
    min-height: 200px;
    padding: 1em;
    box-sizing: border-box;
}

/* tournament dropdown box */

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.tournament-dropdown {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: border-radius 0.3s ease, transform 0.3s ease;
    outline: none;
}

.tournament-dropdown.open {
    border-radius: 8px 8px 0 0;
    position: relative;
    top: 0;
}

.tournament-dropdown.open:focus,
.tournament-dropdown.open:target {
    scroll-margin-top: 20px;
}

.tournament-dropdown:hover {
    background-color: #e0e0e0;
}

.matches {
    background-color: white;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.tournament-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.tournament-logo span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3447AA;
}

.tournament-name {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    color: #3447AA;
}

.dropdown-arrow {
    font-size: 16px;
    transition: transform 0.3s;
}

.tournament-dropdown.open .dropdown-arrow {
    transform: rotate(180deg)
}

/* teams name */

.teams-name {
    display: flex;
    justify-content: flex-start;
}

/* team card */

.team-detail-navigate-button {
    padding: 3px;
    color: #f9dddb;
    cursor: pointer
}

.team-detail-navigate-button:hover {
    background-color: #3447AA;
    color: white;
    transition: background-color, color 0.3s ease;
}

.stat-category {
    width: 100%;
    border-radius: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.detail-stat-box-title {
    padding-bottom: 1em;
    letter-spacing: -.032px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}

.detail-stat-name {
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font: 500 12px / 1.33 "Sofascore Sans", -apple-system, system-ui, BlinkMacSystemFont, Dubai, "Segoe UI", Tahoma, "Noto Sans Arabic UI", "Dejavu Sans", Arial, sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* pre match statistic */

.match-container {
    list-style: none;
    padding: 10px 5px;
    margin: 10px;
    background-color: #3447AA;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.match-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.team-detail-navigate-button {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    padding: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vs-text {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f9dddb;
}

.match-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    text-align: center;
}

.team-stat {
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    padding: 10px 5px;
    border-radius: 5px;
}

.team-stat p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.team-stat strong {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.home-team {
    background-color: rgba(0, 128, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.away-team {
    background-color: rgba(255, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.total-stat {
    background-color: rgba(0, 0, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

/* team */

.detail-content {
    padding: 25px 10px 0;
}
.team-box {
    display: flex;
    justify-content: flex-start;
    color: #222226;
    gap: 1rem;
    padding-bottom: 25px;
}

.team-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3447AA;
}

.team-name-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* notification  */

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    z-index: 9999;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.3s ease;
    transition: opacity 0.3s ease;
}

.notification-success {
    background-color: #4caf50;
}

.notification-error {
    background-color: #f44336;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f9dddb;
    padding-bottom: 60px;
    box-sizing: border-box;
    overflow-y: auto;
}

.content {
    flex: 1;
    width: 100%;
}

.footer-container {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: #3447AA;
    z-index: 1000;
}

/* footer-ის შიგთავსი */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

/* ღილაკების სტილი */
.footer-button {
    background: none;
    border: none;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.footer-button span {
    color: #f9dddb;
}

.footer-button:hover {
    background-color: #0056b3;
    color: #f9dddb;
    transition: background-color, color 0.3s ease;
}

.footer-button.active {
    background-color: #0056b3;
    font-weight: bold;
    color: #f9dddb;
    transition: background-color, color 0.3s ease;
}

.footer-button.disabled {
    opacity: 0.4;
    pointer-events: none;
}

/* old matches */
.old-matches {
    display: flex;
    justify-content: space-around;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}